<!DOCTYPE HTML>
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Meteo Data</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet"/>
</head>
<body>

<div th:text="${_S}"></div>
<div th:text="${_D}"></div>
<div th:text="${_T}"></div>
<div th:text="${_RNAME}"></div>
<div th:text="${_PW15M}"></div>
<div th:text="${_VIS}"></div>
<div th:text="${_TAAVG1M}"></div>
<div th:text="${_RHAVG1M}"></div>
<div th:text="${_DPAVG1M}"></div>
<div th:text="${_PRSUM1H}"></div>
<div th:text="${_SRAVG1M}"></div>
<div th:text="${_SDUR1M}"></div>
<div th:text="${_SRDSUM1D}"></div>
<div th:text="${_TAMIN1D}"></div>
<div th:text="${_TAMAX1D}"></div>
<div th:text="${_RHMIN1D}"></div>
<div th:text="${_RHMAX1D}"></div>
<div th:text="${_TG1}"></div>
<div th:text="${_TG2}"></div>
<div th:text="${_TG3}"></div>
<div th:text="${_TG4}"></div>
<div th:text="${_TG5}"></div>
<div th:text="${_TG6}"></div>
<div th:text="${_TG7}"></div>
<div th:text="${_WD}"></div>
<div th:text="${_WS}"></div>
<div th:text="${_WDAVG2M}"></div>
<div th:text="${_WDMAX2M}"></div>
<div th:text="${_WDMIN2M}"></div>
<div th:text="${_WSAVG2M}"></div>
<div th:text="${_WSMAX2M}"></div>
<div th:text="${_WSMIN2M}"></div>
<div th:text="${_PAAVG1M}"></div>
<div th:text="${_EXTDC}"></div>
<div th:text="${_STATUS}"></div>
</body>
</html>